// Color variables

$Turqious: #58e1c1;
$magenta: #e4757a;
$grey: #777;
$green:  #63cc82;
$orange: #fd7856;
$lightblue: #51ddfc;
$white: #fff;
$lavender: #927bc1;
$pink: #e4757a;

// Media queries breakpoints

$brk-point: '(max-width: 768px)';