/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }

  .btn:hover {
    background-color: lighten($white, 15%);
    transition: $lightblue, 5s;
    
 }
  
  .default {
    background-color: $lightblue;
  }
  
  .error {
    background-color: $magenta;
  }
  
  .info {
    background-color: $lavender;
  }
  
  .success {
    background-color: $green;
  }
  
  .warning {
    background-color: $orange;
  }
  
  
  