/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }

  .btn:hover {
    lighten: ($white, 15%);
    transition: $orange, 5s;
    transform
 }
  
  .default {
    background-color: $lightblue;
  }
  
  .error {
    background-color: $Magenta;
  }
  
  .info {
    background-color: $lavender;
  }
  
  .success {
    background-color: $green;
  }
  
  .warning {
    background-color: $orange;
  }
  
  
  